.contenedor{
    padding: 10px 20px 50px 20px;
    background-color: #262626;
}

.videosPorCategoria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textoCatFRONTEND, .textoCatBACKEND, .textoCatINNOVACIÓNYGESTIÓN{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 70px;
    font-size: 32PX;
    max-width: none;
    border-radius: 10px;
    border: none;
    color: white;
}

.textoCatFRONTEND{
    background-color: #6BD1FF;
}

.textoCatBACKEND{
    background-color: #00C86F;
}

.textoCatINNOVACIÓNYGESTIÓN{
    background-color: #FFBA05;
}

@media (min-width: 320px) and (max-width: 480px) {
    .contenedor{
        bottom: 0;
        left: 0;
    }

    .videosPorCategoria{
        justify-content: none;
        gap: 20px;
        overflow-y: scroll;
        overflow-x: none;
    }

    .textoCatFRONTEND, .textoCatBACKEND, .textoCatINNOVACIÓNYGESTIÓN{
        width: 286px;
        height: 70px;
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .textoCatFRONTEND, .textoCatBACKEND, .textoCatINNOVACIÓNYGESTIÓN{
        width: 286px;
        height: 70px;
        font-size: 24px;
    }

    .videosPorCategoria{
        justify-content: none;
        gap: 20px;
        overflow-y: scroll;
        overflow-x: none;
    }
}