.footer{
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footerContainer{
    display: flex;
}

@media (min-width: 320px) and (max-width: 480px) {
    .footer{
        display: none !important;
    }
}